<button mat-raised-button type="button" (click)="back()">Go Back</button>
<br><br>
<table mat-table [dataSource]="list" class="mat-elevation-z8" style="width: 100%">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
  </ng-container> -->

  <!-- Purpose Column -->
  <!-- <ng-container matColumnDef="Purpose">
    <th mat-header-cell *matHeaderCellDef> Purpose </th>
    <td mat-cell *matCellDef="let element"> {{element.Purpose}} </td>
  </ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- City Column -->
  <ng-container matColumnDef="Country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell *matCellDef="let element"> {{element.country.country}} </td>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="Address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- phone Column -->
  <ng-container matColumnDef="Phone">
    <th mat-header-cell *matHeaderCellDef> Phone Number </th>
    <td mat-cell *matCellDef="let element"> {{element.country.phone}}-{{element.phone}} </td>
  </ng-container>

  <!-- Interviewer Column -->
  <!-- <ng-container matColumnDef="Interviewer">
    <th mat-header-cell *matHeaderCellDef> Interviewer </th>
    <td mat-cell *matCellDef="let element"> {{element.Interviewer | shorten}} </td>
  </ng-container> -->

  <!-- Date Column -->
  <!-- <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>